<div class="home-home" style="background-image: url('assets/img/Background.jpeg');">


<app-header></app-header>

<header class="py-5 d">
  <div class="container px-lg-5 ">
    <div class="p-4 p-lg-5 bg-light rounded-3 text-center shadow-sm">

      <div class="m-4 m-lg-5">
        <div class="col-md-3 align-items-md-start">
          <img
            src="https://media4.giphy.com/media/3z5cd9PYh6Zhm28DGv/giphy.gif?cid=ecf05e47s5t1ekm6il7ijd9faraiw2i97iojk8g9cs437s82&ep=v1_stickers_search&rid=giphy.gif&ct=s"
            alt="Lottery Gif" class="img-fluid">
        </div>
        <h1 class="display-5 fw-bold">Welcome to my site!</h1>
        <p class="fs-4">Hier you can use Random.org</p>

      </div>
    </div>
  </div>
</header>

<section class="pt-4">
  <div class="container px-lg-5 shadow-lg">
    <!-- Page Features-->
    <div class="row gx-lg-5">
      <div class="col-12 mb-5">
        <div class="card bg-light border-6 h-100">
          <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
            <div class="row">
              <!-- GIF auf der linken Seite -->
              <div class="col-md-3 align-items-md-start">
                <img src="https://media.giphy.com/media/ejyRYttU1toqHjNZOA/giphy.gif" alt="Lottery Gif" class="img-fluid">
              </div>
              <!-- Inhalt auf der rechten Seite -->
              <div class="col-md-6">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                <h2 class="fs-4 fw-bold">Lottery Quick Pick</h2>
                <a class="btn btn-primary btn-lg" href="/lottery">Call to action</a>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mb-5">
        <div class="card bg-light border-6 h-100">
          <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
            <div class="row">
              <!-- GIF auf der linken Seite -->
              <div class="col-md-3 align-items-md-start">
                <img src="https://media.giphy.com/media/jU2I2bn8I77FkVzYmw/giphy.gif" alt="Keno Gif" class="img-fluid">
              </div>
              <!-- Inhalt auf der rechten Seite -->
              <div class="col-md-6">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-cloud-download"></i></div>
                <h2 class="fs-4 fw-bold">Keno Quick Pick</h2>
                <a class="btn btn-primary btn-lg" href="/keno-quick">Call to action</a>
              </div>
              <
            </div>
          </div>
        </div>
      </div>


      <div class="col-12 mb-5">
        <div class="card bg-light border-6 h-100">
          <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
            <div class="row">
              <!-- GIF auf der linken Seite -->
              <div class="col-md-3 align-items-md-start">
                <!-- Ersetze die URL durch das entsprechende GIF für den Coin Flipper -->
                <img src="https://media0.giphy.com/media/iGht72QH913uLHMSKJ/giphy.gif?cid=ecf05e47miat1b2j35eylvuh371esmdnwk5239grm7k0famv&ep=v1_stickers_search&rid=giphy.gif&ct=s" alt="Coin Flipper Gif" class="img-fluid">
              </div>
              <!-- Inhalt auf der rechten Seite -->
              <div class="col-md-6">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-card-heading"></i></div>
                <h2 class="fs-4 fw-bold">Coin Flipper</h2>
                <a class="btn btn-primary btn-lg" href="/coin-fliper">Call to action</a>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-12 mb-5">
        <div class="card bg-light border-6 h-100">
          <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
            <div class="row">
              <!-- GIF auf der linken Seite -->
              <div class="col-md-3 align-items-md-start">
                <!-- Ersetze die URL durch das entsprechende GIF für den Dice Roller -->
                <img src="https://media.giphy.com/media/ygzkZPxmh6HgUzbYFz/giphy.gif" alt="Dice Roller Gif" class="img-fluid">
              </div>
              <!-- Inhalt auf der rechten Seite -->
              <div class="col-md-6">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-bootstrap"></i></div>
                <h2 class="fs-4 fw-bold">Dice Roller</h2>
                <a class="btn btn-primary btn-lg" href="/dice-roller">Call to action</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mb-5">
        <div class="card bg-light border-6 h-100">
          <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
            <div class="row">
              <!-- GIF auf der linken Seite -->
              <div class="col-md-3 align-items-md-start">
                <img src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExa243eXhzOXJjdG5sMmtzM2Y0cXB2M3Q0MGM0YWFxbGVvcXg1eDVrdiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/LdzhWzAObvhtWAMSfj/giphy.webp" alt="Playing Card Shuffle Gif" class="img-fluid">
              </div>
              <!-- Inhalt auf der rechten Seite -->
              <div class="col-md-6">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-shuffle"></i></div>
                <h2 class="fs-4 fw-bold">Playing Card Shuffle</h2>
                <a class="btn btn-primary btn-lg" href="/card-shuffle">Shuffle Cards</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mb-5">
        <div class="card bg-light border-6 h-100">
          <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
            <div class="row">
              <!-- Bild oder Icon auf der linken Seite (hier ein Beispiel mit einem Icon) -->
              <div class="col-md-3 align-items-md-start">
                <i class="bi bi-shuffle fs-1"></i>
              </div>
              <!-- Inhalt auf der rechten Seite -->
              <div class="col-md-6">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-shuffle"></i></div>
                <h2 class="fs-4 fw-bold">Birdie Fund Randomizer</h2>
                <a class="btn btn-primary btn-lg" href="/fund-randomizer">Generate Random Numbers</a>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>
</div>
