<section id="hero" class="hero d-flex align-items-center section-bg">

  <div class="game-container">
    <img src="assets/img/coin2.gif" alt="Spielbild">
    <h2>Coinflipper</h2>
    <p>Test your luck!</p>
    <a routerLink="coinflipper" class="btn-game">Zum Spiel</a>
  </div>


  <div class="game-container">
    <img src="assets/img/dice2.gif" alt="Spielbild">
    <h2>Dice roller</h2>
    <p>Roll the die (choose how often).</p>
    <a routerLink="dice-roller" class="btn-game">Zum Spiel</a>
  </div>

  <div class="game-container">
    <img src="assets/img/lotto2.gif" alt="Spielbild">
    <h2>Lottery</h2>
    <p>Pick 7 Lottery number (Germany)</p>
    <a routerLink="lottery-quick-pick" class="btn-game">Zum Spiel</a>
  </div>

</section>
